@inherits LayoutComponentBase

@inject NavigationManager Navigation
@inject ThemeService ThemeService
@inject LocalizationService Localizer
@inject DrawService DrawService
@inject IDialogService DialogService

<style>
    .fixed-progress {
        position: fixed;
        left: 0;
        width: 100%;
        z-index: var(--mud-zindex-appbar);
    }

    .scroll-to-top {
        opacity: .85;
    }

    @@media screen and (max-width: 400px)
    {
        .scroll-to-top {
            bottom: 45px;
        }
    }
</style>

<MudThemeProvider @ref="@_mudThemeProvider" Theme="_mudTheme" IsDarkMode=@ThemeService.IsDarkMode />
<MudPopoverProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.ExtraSmall"
                   CloseButton="true"
                   Position="DialogPosition.Center"
                   CloseOnEscapeKey="true" />
<MudSnackbarProvider />

<MudLayout>
    <MudMainContent Class="pt-0" Style="min-height:calc(100vh - 60px);">
        @if (DrawService.IsLoading)
        {
            <MudProgressLinear Color="Color.Primary" Indeterminate="true" Class="fixed-progress" />
        }
        <MudContainer MaxWidth="MaxWidth.Small" Class="pa-3 mb-16">
            <MudPaper Elevation="8" Class="rounded-xl mb-2">
                <MudStack>
                    <MudImage Src="@(ThemeService.IsDarkMode ? "images/banner-dark.svg" : "images/banner-light.svg")" Height="100" Alt="eurogen banner"></MudImage>
                </MudStack>
            </MudPaper>
            @Body
        </MudContainer>

        <div class="nav-container">
                <nav class="nav">
                    <a href="/" class="@($"nav-link {(IsActive("/") ? "nav-link-active" : "")}")">
                        <MudIcon Icon="@Icons.Material.Rounded.Draw" style="font-size: 2rem;" />
                    </a>
                    <a href="/stats" class="@($"nav-link {(IsActive("/stats") ? "nav-link-active" : "")}")">
                        <MudIcon Icon="@Icons.Material.Rounded.DataExploration" style="font-size: 2rem;" />
                    </a>
                    <a href="/about" class="@($"nav-link {(IsActive("/about") ? "nav-link-active" : "")}")">
                        <MudIcon Icon="@Icons.Material.Rounded.Info" style="font-size: 2rem;" />
                    </a>
                    <a onclick="@(OpenSettings)" class="nav-link">
                        <MudIcon Icon="@Icons.Material.Rounded.Settings" style="font-size: 2rem;" />
                    </a>
                </nav>
        </div>
        <MudScrollToTop>
            <MudFab Class="scroll-to-top"
                    Color="Color.Primary"
                    Size="Size.Medium"
                    StartIcon="@Icons.Material.Filled.KeyboardArrowUp" />
        </MudScrollToTop>
    </MudMainContent>
</MudLayout>