@page "/"

@inject DrawService DrawService
@inject ILogger<Draw> Logger
@inject LocalizationService Localizer

<PageTitle>@Localizer["Draws"]</PageTitle>

@for (int i = 0; i < _newDraws.Count; i++)
{
    var draw = _newDraws[i];
    var isLast = i == _newDraws.Count - 1;
    <MudPaper Class="@($"{(!isLast ? "mb-2" : "mb-1")} rounded-xl")" Elevation="8">
        <span class="draw">
            <div class="d-flex justify-center align-center draw-item mud-primary ball">
                <strong class="draw-text ball-text">@draw.FirstNumber</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item mud-primary ball">
                <strong class="draw-text ball-text">@draw.SecondNumber</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item mud-primary ball">
                <strong class="draw-text ball-text">@draw.ThirdNumber</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item mud-primary ball">
                <strong class="draw-text ball-text">@draw.FourthNumber</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item mud-primary ball">
                <strong class="draw-text ball-text">@draw.FifthNumber</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item">
                <img src="images/star.svg" alt="euromillions star" class="star">
                <strong class="draw-text star-text">@draw.FirstStar</strong>
            </div>
            <div class="d-flex justify-center align-center draw-item">
                <img src="images/star.svg" alt="euromillions star" class="star">
                <strong Class="draw-text star-text">@draw.SecondStar</strong>
            </div>
        </span>
    </MudPaper>
}

<MudGrid Class="mt-0" Spacing="2">
    <MudItem xs="12" sm="6">
        <MudButton Color="Color.Primary" Variant="Variant.Filled"
                   Style="@($"text-transform:none;")"
                   Class="rounded-xl"
                   FullWidth="true"
                   Disabled="@DrawService.IsLoading"
                   OnClick="async () => await GenerateDraw()">@Localizer["Draw"]</MudButton>
    </MudItem>
    <MudItem xs="12" sm="6">
        <MudButton Color="Color.Primary" Variant="Variant.Filled"
                   Style="@($"text-transform:none;")"
                   Class="rounded-xl"
                   FullWidth="true"
                   Disabled="@DrawService.IsLoading"
                   OnClick="async () => await GetBestDraw()">@Localizer["GetBestDraw"]</MudButton>
    </MudItem>
</MudGrid>